@page "/success-payment"

@inject ILocalStorageService localStorage
@inject IRoomOrderDetailsService roomOrderDetailsService


<div class="container">
    <div class="row mt-4 pt-4">
    <div class="col-10 offset-1 text-center">
        <h2 class="text-warning">Booking Confirmed</h2>
        <p>Thank you for purchasing a room at Hidden Villa. Order number: @OrderId</p>
        <p>Your check-in date is @Checkin.ToString("dd/MM/yyyy") and check-out date is @Checkout.ToString("dd/MM/yyyy")</p>
        </div>
        <div class="col-8 offset-2 mb-1">
        <img src="/images/confirmation.jpg" width="100%" style="border-radius:30px;" />
        </div>
        
    </div>     
 </div>

@code {
    private bool IsPaymentComplete = false;
    private int OrderId { get; set; }
    private double Cost { get; set; }
    private DateTime Checkin { get; set; }
    private DateTime Checkout{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        var orderDetails = await localStorage.GetItemAsync<RoomOrderDetailsDTO>(SD.Local_RoomOrderDetails);
        
        //get the info from local storage to display to the user
        
        OrderId = orderDetails.Id;
        Cost = orderDetails.TotalCost;
        Checkin = orderDetails.CheckInDate;
        Checkout = orderDetails.CheckInDate;

        var FinalRoomOrderDetails = await roomOrderDetailsService.PaymentSuccessful(orderDetails);
        if (FinalRoomOrderDetails.Status == SD.Status_Booked)
        {
            await localStorage.RemoveItemAsync(SD.Local_RoomOrderDetails);
            await localStorage.RemoveItemAsync(SD.Local_InitialBooking);

            IsPaymentComplete = true;
        }
    }
}
