

<div>
    <h4>Another Child Component</h4>
    <input id = "roomName" @attributes = "InputAttributes" class = "form-control" />
</div>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> InputAttributes { get; set; } = new Dictionary<string, object>();

}
