
<div class = "row">
<h3 class = "text-primary" pl-4 pt-4>GrandChildComponent</h3>
</div>

<br/>
<p>There is a message - @MessageForGrandChild</p>
<p> Lucky number - @LuckyNumberFromGrandParent</p>
@code {

     [CascadingParameter (Name = "GrandParentsLuckyNumber")]
    public int  LuckyNumberFromGrandParent { get; set; }

    [CascadingParameter()]
    public string MessageForGrandChild { get; set; }
}
