@using Model

    <div class = "bg-alert-light border" @onclick = "(args)=>AmenitySelectionChanged(args,amen.Name)">
                    <h4 class="text-secondary">Amenity - @amen.Id</h4>


                    @amen.Name <br/>
                    @amen.Description <br/>
  </div>



@code {
    [Parameter]
    public HotelAmen amen { get; set; }
    [Parameter]
    public EventCallback<string> OnAmenitySelection { get; set; }

    protected async Task AmenitySelectionChanged(MouseEventArgs e, string name)
    {
        await OnAmenitySelection.InvokeAsync((string)name);

    }
}
