<AuthorizeView>

    <Authorized>
        <a href="Identity/Account/Logout" class = "ml-1">Logout</a>
        <p></p>
        Hello, @context.User.Identity.Name
    </Authorized>
    <NotAuthorized>

        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Login</a>

    </NotAuthorized>


</AuthorizeView>


@code {

}
